<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="home-button">
        <a href="/" class="btn"><i class="fas fa-home"></i></a>
    </div>
    <div class="container">
        <h1>Home page</h1>
        <div class="buttons">
            <a href="/train" class="btn">Train Models</a>
            <a href="/detect" class="btn">Detect Phishing</a>
            <a href="/metrics" class="btn">View Model Metrics</a>
        </div>
    </div>
</body>
</html>
