body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Changed to start at the top */
    min-height: 100vh; /* Ensure full viewport height */
    margin: 0;
    background-color: #f4f4f4;
    overflow-x: hidden; /* Prevent horizontal overflow */
}

.container {
    text-align: center;
    width: 100%;
    max-width: 1200px; /* Limit the width to prevent overflow */
    padding: 20px; /* Add padding for readability */
    overflow-y: auto; /* Ensure vertical scrolling if content overflows */
    box-sizing: border-box; /* Make sure padding is included in the width */
}

h1, h2, h3 {
    margin-bottom: 30px;
    font-size: 24px;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

.train-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.model-selection {
    text-align: left;
    margin-bottom: 20px;
}

.upload-section {
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: #444;
}

.train-btn {
    margin-top: 10px;
}

.home-button {
    position: absolute;
    top: 20px;
    left: 20px;
}

.home-button .btn {
    background: none; /* Remove the background color */
    padding: 0;
    border: none;
}

.home-button .btn i {
    font-size: 24px; /* Adjust the size of the icon */
    color: #000; /* Change the color of the icon */
    transition: color 0.3s ease;
}

.home-button .btn i:hover {
    color: #444; /* Change color on hover */
}
